<!--
	Barra padrão do Bootstrap

	https://getbootstrap.com/docs/5.3/components/navbar/
-->
<style>
	.logo{
		max-width: 140px;
		width: 100%;
	}
	.user{
		max-width: 30px;
		width: 100%;
		border-radius: 30px;
	}
	.brilho{
		max-width: 20px;
		width: 100%;
	}
</style>

<nav class="navbar navbar-expand-md bg-dark" data-bs-theme="dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"> <img src="public/img/logo (1).png" class="logo" alt="Logo da Pra Cego Ler"></a>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/produtos">Acervo</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/sobre">Time </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/empresa">Sobre</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/orientacoes"> Orientações</a>
				</li>
			</ul>
		</div>
		<a class="nav-link" href="/login"><img class="user" src="public/img/user.png"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
	</div>
</nav>
