<div class="rodape">
	<a class="link-rodape" href="https://sistemasdeinformacao.espm.edu.br" target="_blank">
		<img src="/public/img/logo-si-512.png" style="width: 100%; max-width: 150px;" />
	</a>
</div>

