<style>
    .titulo{
      margin: 0px 0px 40px 0px;
    }
    .paragrafo{
      margin: 0px 0px 30px 0px;
    }
    .card{
      height: 100%;
    }
    .card-img-top{
      margin: 0 auto;
      max-width: 100px;
    }
    .espaco{
      padding: 40px;
      text-align: center;
    }
    .card-text{
      text-align: left;
    }
    .ods{
      margin: 15px auto;
    }
    .link{
      text-decoration: none;
      color: aliceblue;
    }
    .red{
      background-color: #c20e35;
      border-color: #c20e35;
    }

</style>

<div class="container-fluid espaco">
    <h1 class="titulo">
        Sobre o projeto
    </h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="public/img/objetivos.jpg" class="card-img-top" alt="Imagem mostrando um arco de objetivo.">
            <div class="card-body">
                <h4 class="card-title">Objetivo</h4>
                <p class="card-text">
                  O projeto visa ampliar as oportunidades de acesso ao ensino superior para pessoas cegas. Nosso site oferece suporte na transcrição de obras acadêmicas para braille e disponibiliza audiobooks, promovendo acessibilidade e inclusão. Essa iniciativa busca facilitar a educação de quem mais precisa, contribuindo para uma sociedade mais justa e equitativa.
                </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="public/img/impactos.jpg" class="card-img-top" alt="Imagem sobre impactos">
            <div class="card-body">
                <h4 class="card-title">Impactos</h4>
                <p class="card-text">
                  O projeto promove educação inclusiva, garantindo acesso igualitário ao conhecimento e ao ensino superior para pessoas cegas, contribuindo para uma sociedade mais equitativa. Além de ampliar a diversidade e qualificação da força de trabalho, impulsiona a inovação com novas perspectivas. A iniciativa fortalece a consciência sobre inclusão, reduz barreiras e melhora a qualidade de vida de pessoas com deficiência, promovendo uma sociedade mais justa e acessível.
                </p>
            </div>
          </div>
        </div>
    </div>

    <div class="card ods">
      <img src="public/img/ods.png" class="card-img-top" alt="Logo da ODS">
      <div class="card-body">
        <h3 class="card-title"> ODS - Objetivos de Desenvolvimento Sustentável</h3>
        <p class="card-text">
          A ODS 4 visa garantir educação inclusiva, equitativa e de qualidade para todos. O projeto de tradução de obras acadêmicas para braille alinha-se a esse objetivo ao ampliar o acesso de estudantes cegos ao ensino superior, oferecendo materiais iguais aos de outros alunos. Com foco em acessibilidade e inclusão, a iniciativa reduz desigualdades educacionais e contribui para tornar a educação verdadeiramente universal, apoiando diretamente as metas da ODS 4.
        </p>
      </div>
    </div>

    <button type="button" class="btn btn-dark red"><a href="https://github.com/tech-espm/inter-2sem-2024-pracegoler" class="link"> Link do Repositório do GitHub</a></button>
</div>
