<style>
    .espaco{
        padding: 20px 80px 20px 80px;
		text-align: center;
    }
    .titulo{
        font-weight: bold;
    }
    .paragrafo{
        margin: 15px auto;
    }
</style>

<div class="container-fluid espaco">
    <h1 class="titulo">
        Sobre o projeto
    </h1>
    <div class="paragrafo">
        <h2>
            1. Qual o nosso objetivo?
        </h2>
        <p>
            O projeto busca abrir portas para que pessoas cegas tenham mais chances de entrar no ensino superior. Mas como isso aconteceria? Nosso site irá auxiliar na transcrição de obras acadêmicas para o braille. É uma forma de levar acessibilidade e inclusão para a educação de quem mais precisa.
        </p>    
    </div>
    <div class="paragrafo">
        <h2>
            2. Qual impacto que nosso projeto teria na sociedade?
        </h2>
        <p>
            Os impactos positivos do projeto, é que ele promove uma educação mais inclusiva, permitindo que pessoas cegas tenham igual acesso ao conhecimento e ao ensino superior, o que contribui para uma sociedade mais equitativa e capacita indivíduos a alcançar seus objetivos. Além disso, amplia a diversidade e a qualificação da força de trabalho, enriquecendo o mercado com novas perspectivas e impulsionando a inovação. Essa iniciativa também fortalece a consciência sobre inclusão, reduz barreiras e melhora a qualidade de vida de pessoas com deficiência, contribuindo para uma sociedade mais justa e acessível.
        </p>
        <img src="public/img/ods-4.png">
    </div>

    <div class="paragrafo">
        <h2>
            3. Qual a ODS ligada ao nosso projeto?
        </h2>
        <p>
            A ODS 4, voltada para a Educação de Qualidade, tem como objetivo garantir o acesso universal a uma educação inclusiva, equitativa e de qualidade, além de fomentar oportunidades de aprendizagem ao longo da vida para todos. Nesse contexto, o projeto de tradução de obras acadêmicas para braille se conecta diretamente a essa meta, ao aumentar o acesso de estudantes cegos ao ensino superior e proporcionar a eles os mesmos materiais que outros alunos. Com foco na acessibilidade e na inclusão, essa iniciativa ajuda a diminuir as desigualdades educacionais e a tornar a educação verdadeiramente universal, contribuindo de forma prática e eficaz para os propósitos da ODS 4.
        </p>
    </div>
</div>
