<style>
    .titulo{
      margin: 0px 0px 30px 0px;
    }
    .paragrafo{
      margin: 0px 0px 30px 0px;
    }
    .card{
      height: 100%;
    }
    .card-img-top{
      margin: 0 auto;
      padding: 5px;
      max-width: 170px;
      border-radius: 25px;
    }
    .espaco{
      padding: 40px;
      text-align: center;
    }
    .card-text{
      text-align: center;
      margin: 10px;
    }
    .ods{
      margin: 15px auto;
    }
    .link{
      text-decoration: none;
      color: aliceblue;
    }
    .red{
      background-color: #c20e35;
      border-color: #c20e35;
      transition: all 5ms;
    }
    .red:hover{
      background-color: #454142;
      border-color: #454142;
    }
    .margem{
      margin: 10px;
    }
    .grafico{
      max-width: 450px;
      border-radius: 20px;
    }
    .card-title{
      text-decoration: underline;
    }
    .estatistica{
      margin: 40px 0px 40px 0px;
    }
    .vermelho{
      color: #c20e35;
    }
    .azul{
      color: blue;
    }
    .amarelo{
      color: rgb(203, 203, 2);
    }
    .verde{
      color: green;
    }
    .margem2{
      margin: 40px;
    }
    .left{
      text-align: right;
    }
    .titulo-grafico{
      font-size: 22px;
      margin: 10px;
    }
    .btn-collapse{
      margin: 20px;
    }
    .margem3{
      margin: 35px;
    }

</style>

<div class="container-fluid espaco">
    <h1 class="titulo">
        Sobre o projeto
    </h1>
    <div class="row row-cols-1 row-cols-md-2 g-4 margem">
        <div class="col">
          <div class="card">
            <img src="public/img/motivação.png" class="card-img-top" alt="Imagem demonstrando o sentimento de motivação.">
            <div class="card-body">
                <h4 class="card-title"> Motivação </h4>
                <p class="card-text">
                  O PraCegoLer nasceu com o propósito de enfrentar a significativa barreira de acessibilidade à leitura no Brasil. Atualmente, apenas 1% a 2% dos livros disponíveis são transcritos para braille, o que limita profundamente o acesso ao conhecimento para pessoas com deficiência visual. Essa realidade impacta diretamente mais de 1,19 milhões de brasileiros com deficiência visual (IBGE, 2019), restringindo suas oportunidades educacionais e profissionais. 
                </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="public/img/impactos.jpg" class="card-img-top" alt="Imagem sobre impactos">
            <div class="card-body">
                <h4 class="card-title">Impactos</h4>
                <p class="card-text">
                  O projeto promove educação inclusiva, garantindo acesso igualitário ao conhecimento e ao ensino superior para pessoas cegas, contribuindo para uma sociedade mais equitativa. Além de ampliar a diversidade e qualificação da força de trabalho, impulsiona a inovação com novas perspectivas. A iniciativa fortalece a consciência sobre inclusão, reduz barreiras e melhora a qualidade de vida de pessoas com deficiência, promovendo uma sociedade mais justa e acessível.
                </p>
            </div>
          </div>
        </div>
    </div>
    
    <div class="row row-cols-1 row-cols-md-2 g-4 margem">
        <div class="col">
          <div class="card">
            <img src="public/img/objetivos.jpg" class="card-img-top" alt="Imagem mostrando um arco de objetivo.">
            <div class="card-body">
                <h4 class="card-title"> Objetivo </h4>
                <p class="card-text">
                  O objetivo do projeto é promover a inclusão e acessibilidade na educação, especialmente para pessoas cegas, ampliando suas oportunidades de acesso ao ensino superior. Isso é alcançado por meio da transcrição de obras acadêmicas para braille e da oferta 
                </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="public/img/ods.png" class="card-img-top" alt="Logo do Objetivo de Desenvolvimento Sustentável 4.">
            <div class="card-body">
                <h4 class="card-title"> Objetivo de Desenvolvimento Sustentável </h4>
                <p class="card-text">
                  A ODS 4 visa garantir educação inclusiva, equitativa e de qualidade para todos. O projeto de tradução de obras acadêmicas para braille alinha-se a esse objetivo ao ampliar o acesso de estudantes cegos ao ensino superior, oferecendo materiais iguais aos de outros alunos. Com foco em acessibilidade e inclusão, a iniciativa reduz desigualdades educacionais e contribui para tornar a educação verdadeiramente universal, apoiando diretamente as metas da ODS 4.
                </p>
            </div>
          </div>
        </div>
    </div>

    <div class="estatistica">
      <h2 class="titulo"> Análise de Dados </h2>
      <p>
        Nesta seção, apresentamos a análise dos dados coletados, por meio de um forms, durante o desenvolvimento do projeto "PraCegoLer". O objetivo principal deste projeto foi oferecer uma solução que promova a inclusão de pessoas cegas ou com baixa visão, utilizando tecnologia assistiva, como a tradução de textos para Braille com disponibilidade de impressão. Para isso, realizamos uma série de testes com diferentes métodos de coleta de dados, avaliando o tempo de estudos dos estudantes, suas preferências de estudos, sua opinião sobre inclusão e acessibilidade, e a eficácia quanto à experiência dos usuários ao interagir com as ferramentas de acessibilidade. A análise dos dados tem como foco entender como essas tecnologias impactam positivamente no ensino e conhecimento, além de identificar suas necessidades, ajudar no acesso à cultura e aos materiais didáticos.
      </p>

      <h3 class="margem3"> Principais <span class="vermelho">resultados</span> da nossa análise: </h3>
      <div class="row margem">
        <div class="col-6">
          <div class="container-fluid collapse-container">
            <h4 class="titulo-grafico">Consumo de Artigos x Consumo de Livros</h4>
            <img class="grafico" src="public/img/bidimensional1.png" alt="Gráfico Bidimensional 1">
            <button class="btn btn-primary red btn-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGraph1" aria-expanded="false" aria-controls="collapseGraph1">
              Explicação do Gráfico
            </button>
            <div class="collapse text-center" id="collapseGraph1">
              <div class="card card-body collapse-content">
                O gráfico de colunas empilhadas revela uma associação clara: 54% das pessoas que leem muitos livros também leem muitos artigos, enquanto 78% dos que leem poucos livros mantêm um baixo interesse por artigos. Esses resultados corroboram nossa hipótese de que o hábito de leitura de livros está intimamente ligado ao interesse por artigos. <br>
                Nossa hipótese foi: “Pessoas que se interessam por livros, também se interessam por artigos.”
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="container-fluid collapse-container">
            <h4 class="titulo-grafico">Qual a importância de um ambiente acessível no meio acadêmico? (De 1 a 5)</h4>
            <img class="grafico" src="public/img/q7.png" alt="Gráfico sobre opinião de um ambiente acessível">
            <button class="btn btn-primary red btn-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGraph2" aria-expanded="false" aria-controls="collapseGraph2">
              Explicação do Gráfico
            </button>
            <div class="collapse text-center" id="collapseGraph2">
              <div class="card card-body collapse-content">
                O gráfico de barras apresenta os resultados da pergunta "O quão você considera que é importante ter um ambiente acessível no meio acadêmico?". Ele está dividido em três categorias representadas por barras coloridas:
                <ul>
                  <li>
                    <span class="azul">Azul</span> (não visível ou mínimo valor): Menos de 10% das respostas.
                  </li>
                  <li>
                    <span class="vermelho">Vermelho</span>: 8% das respostas consideram acessibilidade de importância média.
                  </li>
                  <li>
                    <span class="amarelo">Amarelo</span>: 10% das respostas indicam uma importância alta, mas não máxima.
                  </li>
                  <li>
                    <span class="verde">Verde</span>: 82% das respostas indicam que acessibilidade é considerada de extrema importância no meio acadêmico.
                  </li>
                </ul>
                O gráfico mostra claramente que a maioria absoluta dos respondentes valoriza muito a acessibilidade no ambiente acadêmico.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row margem">
        <div class="col-6">
          <div class="container-fluid collapse-container">
            <h4 class="titulo-grafico"> Os conteúdos acadêmicos adaptados são fáceis de achar?</h4>
            <img class="grafico" src="public/img/q11.png" alt="Gráfico de radar sobre facilidade de encontrar conteúdos adaptados">
            <button class="btn btn-primary red btn-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGraph3" aria-expanded="false" aria-controls="collapseGraph3">
              Explicação do Gráfico 
            </button>
            <div class="collapse text-center" id="collapseGraph3">
              <div class="card card-body collapse-content">
                Este gráfico em forma de radar mostra as respostas à pergunta: "Os conteúdos acadêmicos adaptados (livros, textos) são fáceis de achar?". Ele apresenta três opções de resposta: "Sim", "Não" e "Talvez".
                <ul>
                  <li>
                    Sim: Uma pequena quantidade de pessoas respondeu que é fácil encontrar conteúdos adaptados.
                  </li>
                  <li>
                    Não: A maior parte das respostas indica que os conteúdos adaptados não são fáceis de encontrar.
                  </li>
                  <li>
                    Talvez: Um número menor de pessoas respondeu que é "Talvez" fácil encontrar esses conteúdos.
                  </li>
                </ul>
                  O gráfico destaca que a maioria das pessoas encontra dificuldades para acessar conteúdos acadêmicos adaptados. Isso indica a necessidade de melhorar o acesso a esses materiais
               </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="container-fluid collapse-container">
            <h4 class="titulo-grafico">Há medidas de acessibilidade no seu ambiente acadêmico? </h4>
            <img class="grafico" src="public/img/q9.png" alt="Gráfico de pizza sobre acessibilidade">
            <button class="btn btn-primary red btn-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGraph4" aria-expanded="false" aria-controls="collapseGraph4">
              Explicação do Gráfico
            </button>
            <div class="collapse text-center" id="collapseGraph4">
              <div class="card card-body collapse-content">
                O gráfico de pizza apresentado acima é um dado fundamental para o nosso projeto, pois destaca a proporção de pessoas que responderam "não" em relação à acessibilidade no seu meio acadêmico. Esses resultados são especialmente relevantes, uma vez que nosso objetivo principal é reduzir significativamente essa parcela.
              </div>
            </div>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-dark red"><a href="https://github.com/tech-espm/inter-2sem-2024-pracegoler" class="link"> Link do Repositório do GitHub</a></button>
    </div>
</div>
