<style>
	.titulo{
		font-size: 60px;
		max-width: 500px;
	}
	.vermelho{
		color: red;
	}
	.barra-pesquisa{
		max-width: 500px;
		margin: 10px auto;
	}
	.botao{
		background-color: rgb(152, 9, 9);
		border-radius: 30px;
		max-width: 120px;
	}
	.link{
		text-decoration: none;
		color: aliceblue;
		font-weight: 500;
	}
	.image{
		width: 100%;
		max-width: 80px;
	}
</style>

<div class="container-fluid">
	<div class="barra-pesquisa">
		<label for="pesquisar">
			Pesquisar
		</label>
		<input id="resultadoPesquisar" type="text" />
	</div>

	<h1 class="titulo">
		<b> Acessibilidade em cada <span class="vermelho">página</span>!</b>
	</h1>

	<div id="obra"></div>
</div>

<script type="text/javascript" src="/public/js/ckeditor/ckeditor.js"></script>

<script>
  CKEDITOR.replace("obra");

  // CKEDITOR.instances.obra.getData()
</script>
