<style>
	.espaco{
		padding: 20px 80px 20px 80px;
		text-align: center;
	}
	.texto{
		display: grid;
		justify-content: center;
		text-align: center;
	}
	.titulo{
		font-size: 60px;
		max-width: 500px;
	}
	.vermelho{
		color: #c20e35;
	}
	.barra-pesquisa{
		max-width: 500px;
		margin: 10px auto;
	}
	.barra{
		border-radius: 5px;
		border-color: rgb(250, 246, 241);
		width: 300px; 
		height: 40px;
	}
	.descricao{
		border-radius: 10px;
		color:  #c20e35;
		font-weight: bold;
		padding: 10px;
		margin: 5px auto 20px;
	}
	.red{
		background-color: #c20e35;
		border-color: #c20e35;
		margin: 30px 10px;
	}

</style>

<div class="container-fluid espaco">
	
	<div class="texto">
		<div class="barra-pesquisa">
			<input class="barra" id="resultadoPesquisar" type="text" placeholder="Pesquisar os audiobooks" />
		</div>
	
		<h1 class="titulo">
			<b> Acessibilidade em cada <span class="vermelho">página</span>!</b>
		</h1>
	</div>
	
	<div>
		<label for="inputNome"> Insira o título da obra: </label>
		<input id="inputNome" type="text">
	</div>

	<div>
		<label for="inputNome"> Insira o nome do autor: </label>
		<input id="inputNome" type="text">
	</div>
	
	<div>
		<label for="inputNome"> Insira o nome da editora: </label>
		<input id="inputNome" type="text">
	</div>

	<div>
		<label for="inputNome"> Insira o ano da obra: </label>
		<input id="inputNome" type="text">
	</div>

	<p class="descricao">
		Insira abaixo seu texto a ser imprimido.
	</p>

	<div id="obra"></div>

	<div id="obra_traduzida"></div>

	<button type="button" class="btn btn-dark" onclick=""></button>

</div>

<script type="text/javascript" src="/public/js/ckeditor/ckeditor.js"></script>

<script>
  CKEDITOR.replace("obra");

  // CKEDITOR.instances.obra.getData()
</script>
