<style>
	.vermelho{
		color: red;
	}
	.titulo{
		max-width: 250px;
		text-align: center;
	}
	
</style>

<div class="container-fluid">

	<label>
		Pesquisar
	</label>

	<h1 class="titulo">
		<b> Acessibilidade em cada <span class="vermelho">página</span> </b>
	</h1>

	<p>
		Upload do PDF para a conversão
	</p>

</div>
