<style>
    .impressao {
        margin-top: 50px;
        padding: 0px 40px;
    }
    .impressao-h2 {
        padding: 10px;
        display: inline-block;
        background-color: #A80532;
        border-radius: 20px;
        color: white;
        margin-bottom: 20px;
    }
    .cell-impressao {
        width: 100%;
        max-width: 700px;
        padding: 15px;
        background-color: #BD8184;
        border-radius: 20px;
        position: relative;
        box-shadow: 10px 10px 0px #A80532
    }

    .button-solicitar {
        text-decoration: none;
        color: #000;
        background-color: #DAA14C;
        border-radius: 15px;
        padding: 7px 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        position: absolute;
        bottom: 15px;
        right: 15px;
        cursor: pointer;
        transition: all 0.4s ease;
    }
    .button-solicitar:hover {
        background-color: #F8BB63;
        transform: scale(1.05);
    }

    img {
        max-width: 100%;
        height: auto;
    }

	.menina-pergunta {
		background-image: url(/public/img/menina_pergunta.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		min-height: 300px;
	}

	/* h1 {
        margin: 0%;
        padding: 15px;
        font-weight: 600;
    }
    .orientacoes {
        padding: 30px 0px;
        width: 700px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
    .cell-orientacoes {
        padding: 20px;
        min-height: 40vh;
        background-color: rgba(255, 255, 255, 0.749);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .impressao {
        padding-bottom: 40px;
    }
    .button {
        text-decoration: none;
        color: #fff;
        background-color: #A80532;
        border-radius: 15px;
        padding: 7px 20px;
    }
    .button:hover {
        background-color: rgba(168, 5, 50, 0.85)
    }
    img {
        max-width: 100%;
        border-radius: 20px;
    } */
</style>

<div class="container-fluid impressao">
    <div class="impressao-h2">
        <h2>Licenças para impressão</h2>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="cell-impressao">
                <h3>Sobre as licenças</h3>
                <p>Caso você precise realizar a impressão de materiais protegidos por direitos autorais,
                    a biblioteca oferece uma licença especial para viabilizar o acesso a estes recursos.</p>
                <h3>Quem pode solicitar?</h3>
                <p>Esta licença está disponível para:</p>
                <ul>
                    <li>Estudantes ESPM</li>
                    <li>Funcionários ESPM</li>
                </ul>
                <a class="button button-solicitar" href="https://www.google.com.br/" target="_blank">Veja como solicitar</a>
            </div>
        </div>
		<div class="col-sm-6 menina-pergunta">
        </div>
    </div>
</div>
