<style>
    h1 {
        margin: 0%;
        padding-bottom: 15px;
        font-weight: 600;
    }
    .orientacoes {
        padding: 45px 40px;
        width: 550px;
        font-family: 'Roboto', sans-serif;
        margin-left: 0px;
    }
    .button {
        text-decoration: none;
        color: #fff;
        background-color: #A80532;
        border-radius: 15px;
        padding: 7px 20px;
    }
    .button:hover {
        background-color: rgba(168, 5, 50, 0.85)
    }
</style>

<div class="container-fluid orientacoes">
    <h1>Licença para impressão de conteúdo</h1>
    <a class="button" href="https://www.google.com.br/" target="_blank">Veja como solicitar</a>
</div>

<div class="container-fluid orientacoes">
    <h1>Saiba mais sobre screen-readers</h1>
    <div class="row">
        <div class="col-sm-4">
            <img src="/public/img/jaws.webp" alt="Logo do screen-reader JAWS">
            <a class="button" href="https://www.freedomscientific.com/products/software/jaws/" target="_blank">Adquirir JAWS</a>
        </div>
        <div class="col-sm-4">
            <img src="/public/img/nvda.png" alt="Logo do screen-reader NVDA">
            <a class="button" href="https://www.nvaccess.org/download/" target="_blank">Adquirir NVDA</a>
        </div>
        <div class="col-sm-4">
            <img src="/public/img/voiceover.png" alt="Logo do screen-reader voice over">
            <a class="button" href="https://www.apple.com/voiceover/info/guide/_1121.html#:~:text=VoiceOver%20is%20a%20built%2Din,VoiceOver%2C%20press%20Command%2DF5." target="_blank">Adquirir Voice Over</a>
        </div>
    </div>
</div>
