<style>
    h1 {
        margin: 0%;
        padding-bottom: 15px;
        font-weight: 600;
    }
    .orientacoes {
        padding: 45px 40px;
        width: 400px;
        font-family: 'Roboto', sans-serif;
    }
    .button {
        text-decoration: none;
        color: #fff;
        background-color: #A80532;
        border-radius: 15px;
        padding: 7px 20px;
    }
</style>

<div class="container-fluid orientacoes">
    <h1>Licença para impressão de conteúdo</h1>
    <a class="button" href="https://www.google.com.br/">Veja como solicitar</a>
</div>
