<style>

</style>

<div class="container-fluid">
	<h1>
		Conheça o Time do Projeto 
	</h1>

	<div class="row">

		<div class="col-md-4">
			<h1>Mateus Carnvale Colmeal</h1>
			<img class="Mateus" src="" alt="">

		</div>

		<div class="col-md-4">
			<h1>Gustavo Dutra Telles</h1>
			<img class="Gustavo" src="" alt="">

		</div>

		<div class="col-md-4">
			<h1>Gabriel Cardoso Campos Rodrigues</h1>
			<img class="Gabriel" src="" alt="">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h1>Maria Gabriela Vieira dos Santos</h1>
			<img class="Gabriela" src="" alt="">

		</div>

		<div class="col-md-4">
			<h1>Luzivania Jesus Bonfim</h1>
			<img class="Luzivania" src="" alt="">
		</div>

		<div class="col-md-4">
			<h1>Bianca Cristine Fagundes de Araújo</h1>
			<img class="Bianca" src="" alt="">
		</div>
		
	</div>

</div>
