<style>
	
	.Titulo {
		text-align: center;
		margin: 70px;
	}
	.tituloSecao{
		color:white;
		font-size: 15px;
	}
	.colVermelho {
		background-color: #A80532;
		border-radius: 20px;
		padding: 10px 20px 10px 20px;
		text-align: center;
	}
	.row {
		margin: 10px;
	}
	.Time{
		max-width: 100px;
		border-radius: 20px;
	}

	.legenda{
		font-size: 12px;
		margin-top: 10px;
		color: white;
		align-content: center;
	}

</style>

<div class="container-fluid">
	<h1 class="Titulo">
		Conheça o Time do Projeto 
	</h1>

	<div class="row">
		
		<div class="col-md-4">
			<div class="colVermelho">
				<div class="row">
					<div class="col-md-6">
						<h1 class="tituloSecao">Mateus Carnevale Colmeal</h1>
						<img class="Time" src="public/img/matte.jpeg" alt="">
					</div>
					<div class="col-md-6">
						<div class="legenda">
							Estudante da ESPM de Sistema de Informação, 2° semetre
							19 anos
							Mogi das Cruzes - SP
						</div>
					</div>
				</div>
			</div>
		</div>
		

		<div class="col-md-4">
			<div class="colVermelho">
				<h1 class="tituloSecao">Gustavo Dutra Telles</h1>
				<img class="Time" src="public/img/guuguu.jpeg" alt="">
			</div>
		</div>

		<div class="col-md-4">
			<div class="colVermelho">
				<h1 class="tituloSecao">Gabriel Cardoso Campos Rodrigues</h1>
				<img class="Time" src="public/img/gabriell.jpeg" alt="">
			</div>
		</div>	
	</div>
	<div class="row	">
		<div class="col-md-4">
			<div class="colVermelho">
				<h1 class="tituloSecao">Maria Gabriela Vieira dos Santos</h1>
				<img class="Time" src="public/img/maria.jpeg" alt="">
			</div>
		</div>

		<div class="col-md-4">
			<div class="colVermelho">
				<h1 class="tituloSecao">Luzivania de Jesus Bonfim</h1>
				<img class="Time" src="public/img/luz.jpeg" alt="">
			</div>
		</div>

		<div class="col-md-4">
			<div class="colVermelho">
				<h1 class="tituloSecao">Bianca Cristine Fagundes de Araújo</h1>
				<img class="Time" src="public/img/bianca.jpeg" alt="">
			</div>
		</div>
	</div>
</div>
